
<h2 class="title">Visualize</h2>
<h3> Libraries and Museums by District </h3>
<!--The user can select from three options: bar, line and radar to visualize the data-->
<a style="display:inline-block" href="#view3">Bar</a><a style="display:inline-block" href="#view4">Line</a><a style="display:inline-block" href="#view5">Radar</a>
</br>
<!--The controller passes in a Chart object name myChart, whcih is then loaded into the canvas element and displayed-->
<canvas id="myChart"  width="560" height="315" style="border: solid"></canvas>

